body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: font-family: 'Mali', cursive;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

body {
  background-image: url(images/hearts-layout.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}


h1 {
  color: red;
  padding: 20px 0px 10px 0px;
}

a {
color: #FF00F0;
text-decoration: none;
}

.messages {
  position: absolute;
  top: 430px;
  left:140px;
}
